<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%
      site = prismic.get_by_tags ('site')
      siteData = prismic.getBlockData (site.first)
      pageData = siteData['blocks']['milano']

    %>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || pageData ['title'] %></title>

    <meta name="description" content="<%= data.page.description || pageData ['description'] %>">

    <link rel="shortcut icon" href="https://lh4.googleusercontent.com/-4EFGp8NIxRg/UotMLOfvJtI/AAAAAAAAeGI/i8xYnYOxMBk/s16-no/favicon.ico" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600' rel='stylesheet' type='text/css' />
    <script type="text/javascript">
      (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/DZN49lELbtzCPmNdQuZOrPTUqFWkvpepBH0Bf8C7/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    </script>

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>

    <style>
      .slick-prev:after {
  content: ">";
  color: red;
  font-size: 30px;
}
.slick-next:before {
  content: "<"
  color: red;
  font-size: 30px;
}
    </style>

    <% if current_page.data.headCode  %>
        <%= current_page.data.headCode %>
    <% end %>
  </head>

  <!-- codice ANALITYCS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('require', 'linker');
        ga('linker:autoLink', ['rezdy.com'] );

        ga('create', 'UA-19846103-22', 'auto', {'allowLinker': true});

        ga('send', 'pageview');



    </script>

  <body class="<%= page_classes %>">

  <div class="row menu">
    <div class="large-2 medium-2 columns">
        <a href="/"><%= tag :img, :src => siteData ['KeyValuePairs']['logo']['picture'].get_view('little').url, :title => siteData ['KeyValuePairs']['logo']['value'].as_text %></a>
    </div>
    <div class="large-8 medium-8 columns show-for-large-up">
        <span class="payoff"><%= siteData ['KeyValuePairs']['pay-off']['value'].as_text %></span>
    </div>
    <div class="large-2 medium-2 columns show-for-large-up">
        <style>.rezdy-embedded-cart .hidden {display: none;}.rezdy-embedded-cart {cursor: hand;cursor: pointer;background: #fff;border: 1px solid #ccc;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;display: inline-block;padding: 5px 10px;}.rezdy-embedded-cart p {margin: 0;padding: 0;}.rezdy-embedded-cart .rezdy-cart-icon img {vertical-align: middle;}</style>
        <script>window.rezdyCartLink = 'https://solede.rezdy.com/book';</script>
        <script type="text/javascript" src="https://solede.rezdy.com/pluginJs?script=embedded-cart"></script>

          <div id="rezdy-embedded-cart" class="rezdy-embedded-cart">
              <span class="rezdy-cart-loading">Loading your cart...</span>
              <span class="rezdy-cart-empty hidden">Your cart is empty</span>
              <span class="rezdy-cart hidden">Items in your cart</span>
              <span class="rezdy-cart-count hidden">0</span>
              <span class="rezdy-cart-icon"><img src="https://solede.rezdy.com/themes/rezdy-booking/images/icons/cart.png" alt="Cart"></span>
          </div>

    </div>
  </div>

  <div class="row ">
  <hr class="thin" />
  <!-- Nav Bar -->
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
            <section class="top-bar-section">
              <!-- Right Nav Section -->
                <ul class="left">
                    <li><%= link_to 'Milan', '/milan' %></li>
                    <li><%= link_to 'Italy', '/group-tour' %></li>
                    <li><%= link_to 'Blog', '/blog' %></li>
                </ul>
            </section>
        </nav>
    </div>
    <hr class="thin" />
  </div>



<!-- End Header and Nav -->

<!-- First Band (Slider) -->

<%= yield %>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 medium-12 columns">
      <hr />
      <div class="row">
        <div class="small-12 large-8 medium-8 columns">
          <a href="https://www.facebook.com/soledetour" target="_blank"><i class="fa fa-facebook"></i></a> | &copy; Fucina del Tag - Via Ampère 61/A - VAT 03201900960<br> A partnership with: Your Travel Diary di Bellini Beatrice - VAT 08472160962
        </div>
        <div class="small-12 large-4 medium-4 columns">
            <div id="TA_selfserveprop46" class="TA_selfserveprop">
              <ul id="Wcr6fLvPNxu" class="TA_links BqqIcZN30G">
              <li id="rxmgausMWSg" class="wAbsjEbkJ1jg">
              <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
              </li>
              </ul>
            </div>
            <script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=46&amp;locationId=6652855&amp;lang=en_US&amp;rating=true&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=false&amp;display_version=2"></script>
        </div>
    </div>
  </footer>

    <% if current_page.data.conversionCode  %>
      <%= current_page.data.conversionCode %>
    <% end %>

    <!-- Google Code per il tag di remarketing -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 964386831;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/964386831/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dee2147726e9946"></script>



    <%= javascript_include_tag  "all" %>

    <% if current_page.data.javacriptCode  %>
      <%= current_page.data.javacriptCode %>
    <% end %>

  </body>

</html>