---
layout: home
per_page: 12
title: Solede Tours
---

<ul class="large-block-grid-2 medium-block-grid-2">
<% page_articles.each_with_index do |article, i| %>


    <li>
        <article>
            <div class="row">
                <div class="large-12 columns">
                    <% link_to article do %>
                        <%= tag :img, :src => article.metadata[:page]["image"], :title => article.title %>
                    <% end %>
                    <%= partial("header_post", :locals => { :article => article}) %>
                    <%= article.summary %>
                    <%= link_to 'Read more...', article %>
                </div>
            </div>
        </article>
    </li>

<% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
