<%
    site = prismic.get_by_tags ('site')
    siteData = prismic.getBlockData (site.first)
    pageData = siteData['blocks']['milano']
%>

<!-- End Header and Nav -->
<div class="row margin">
    <div class="large-12 columns">
      <ul class="example-orbit" data-orbit data-options="
                                                        slide_number:false;
                                                        navigation_arrows:false;
                                                        bullets:false;
                                                        timer:false;
                                                        caption_class:my-orbit-caption">
        <% pageData ['images'].each do |i, image| %>
          <li>
            <%= tag :img, :src => image["url"], :title => image["caption"] %>
            <div class="my-orbit-caption">
                    <h1 class="white"><%= pageData ['title'] %></h1>
                    <h3 class="white"><%= pageData ['abstract'] %></h3>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<!-- Three-up Content Blocks -->

<div class="row">
    <div class="large-12 columns">
        <ul class="large-block-grid-2">

            <% pageData ['blocks']['tours-milano']['blocks'].each do |i, block| %>
                <li class="border-top">
                    <div class="row">
                    <div class="large-12 columns">
                            <h3><%= block['title'] %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <% block ['images'].each do |i, image| %>
                                <%= tag :img, :src => image["url"], :title => image["caption"] %>
                            <% end %>
                            <p />
                            <%= partial("callToAction", :locals => { :siteData => siteData, :url => block ['KeyValuePairs']['url-rezdy']['value'].as_text}) %>

                            <dl class="tabs" data-tab>
                                <% block ['sections'].each do |i, section| %>
                                    <dd class="<%= i == 0 ? 'active' : nil %>"><a href="#<%= block['slug'] %>-<%= section['slug'] %>"><%= section['title'] %></a></dd>
                                <% end %>
                                <!-- <dd><a href="#<%= block['slug'] %>-prenotazione">Prenotazione</a></dd> -->
                            </dl>

                            <div class="tabs-content">
                                <% block ['sections'].each do |i, section| %>
                                    <div class="content <%= i == 0 ? 'active' : nil %>" id="<%= block['slug'] %>-<%= section['slug'] %>">
                                        <%= section['body'] %>
                                    </div>
                                <% end %>
                            </div>



                        </div>
                    </div>
                </li>

            <% end %>

        </ul>
    </div>
</div>


<div id="formContatti" class="row">

    <div>
        <h2 class="subheader" id="chiSiamo"><%= siteData ['KeyValuePairs']['box-form-title']['value'].as_text %></h2>
    </div>

    <div class="wufooNew columns hide-for-small">
        <%= partial("wufooForm", :locals => { :siteData => siteData}) %>
    </div>

    <div class="large-6 medium-6 columns">
        <ul class="large-block-grid-1">
            <% pageData ['blocks']['rassicurazioni']['blocks'].each do |i, block| %>

                <li>
                    <h4 class="subheader"><%= block ['icona']%> <%= block ['title']%></h4>

                    <span class="medium"> <%= block ['body']%> </span>
                </li>
            <% end %>
        </ul>

    </div>

</div>

<div class="boxWithImage">
    <div class="mainContent">
        <div class="title">
            <div>
                <h2 class="subheader" id="chiSiamo"><%= pageData ['blocks']['condizioni-note']['title'] %></h2>
            </div>
            <hr />
        </div>
        <div class="body">
            <div class="large-left-12 columns">
                <ul class="large-block-grid-2">
                     <% pageData ['blocks']['condizioni-note']['blocks'].each do |i, block| %>

                        <li>
                            <h3 class="subheader"><%= block ['icona']%> <%= block ['title']%></h3>

                            <%= block ['body']%>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="boxWithImage">
    <div class="mainContent">
        <div class="title">
            <div>
                <h2 data-magellan-destination="chiSiamo" class="subheader" id="chiSiamo"><%= pageData ['blocks']['chi-siamo']['title'] %></h2>
            </div>
            <hr />
        </div>
        <div class="body">
            <div class="large-left-12 columns">
                <ul class="large-block-grid-2">
                     <% pageData ['blocks']['chi-siamo']['blocks'].each do |i, block| %>

                        <li>
                            <h3 class="subheader"><%= block ['title']%></h3>

                            <%= block ['body']%>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>