---
title: >
    Group Tour

description: >
---

<div class="row slide">
    <div class="large-12 medium-12 columns">

            <div class="row">
                <div class="large-12 hide-for-small">
                    <div id="featured">
                        <img src="http://placehold.it/1200x500&text=[img]" title="Solede Group Tour" />
                    </div>
                </div>
            </div>
            <div class="row over">
                <div class="large-12 hide-for-small">
                    <h1 >Tour e personalizzati in tutta ITALIA</h1>
                    <%= partial "callToAction" %>
                </div>
            </div>

    </div>
</div>

<div class="row">
    <div class="large-12 medium-12 columns">
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
            <li class="">
                <div class="row">
                    <h2 class="subheader"><i class="fa fa-users"></i> Tour personalizzati!</h2>
                    <hr/>
                    <div class="small-12 small-6 large-6 medium-6 columns">
                    <p>I nostri tour rispondono alle esigenze di ogni tipologia di clienti.</p>
                            <ul>
                                <li>Gruppi</li>
                                <li>Famiglie</li>
                                <li>Coppie</li>
                                <li>Scuole</li>
                                <li>Studenti</li>
                                <li>Singoli turisti</li>
                            </ul>
                    </div>
                    <div class="small-12 large-6 medium-6 columns">
                        <img src="http://placehold.it/600x500&text=[img]" title="Solede Group Tour" />
                    </div>
                </div>
            </li>
            <li class="">
                <div class="row">
                    <h2 class="subheader"><i class="fa fa-magic"></i> Tour per tutti i gusti!</h2>
                    <hr/>
                    <div class="small-12 large-6 medium-6 columns">
                    <p>Qualsiasi cosa vogliate fare, noi possiamo aiutarvi nel realizzarla!</p>
                            <ul>
                                <li>Classical Italy</li>
                                <li>Food & Wine</li>
                                <li>Fashion & Shopping</li>
                                <li>Sports & Activities</li>
                                <li>Weekends with Style</li>
                                <li>Live the cities</li>
                            </ul>
                    </div>
                    <div class="large-6 medium-6 columns show-for-medium-up">
                        <img src="http://placehold.it/600x500&text=[img]" title="Solede Group Tour" />
                    </div>
                </div>
            </li>


        </ul>

        <div class="row">
            <h2 class="subheader">SOLEDE TOURS - Al servizio dei nostri clienti!</h2>
            <hr/>
            <div id="formContatti" class="wufooNew large-6 medium-6 columns">
                <p class="header">
                    <span class="big">Fill out this form and get in touch with us</span><br />
                    <span class="medium">We will respond you within 12 hours</span>
                </p>

                <%= partial "wufooForm" %>

            </div>
            <div class="small-12 large-6 medium-6 columns">
                        <ul class="big">
                            <p><i class="fa fa-cubes"></i> Itinerari su misura</p>
                            <p><i class="fa fa-headphones"></i> Flessibilità e capacità di ascolto</p>
                            <p><i class="fa fa-user"></i> Risposte rapide e puntuali</p>
                            <p><i class="fa fa-money"></i> Ottimi prezzi</p>
                            <p><i class="fa fa-lightbulb-o"></i> Tante idee per rendere il vostro viaggio indimenticabile</p>
                        </ul>
                    <div class="panel">
                        <h5><i>I nostri servizi</i></h5>
                        <hr />
                        <ul>
                            <li>Biglietteria aerea</li>
                            <li>Biglietteria ferroviaria</li>
                            <li>Biglietteria marittima</li>
                            <li>Biglietteria per autolinee</li>
                            <li>Prenotazione alberghiera</li>
                            <li>Noleggio auto</li>
                            <li>Organizzazione a destinazione dei servizi a terra2</li>
                        </ul>
                    </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <hr>
        <div class="large-12 medium-12 columns" >
            <h2 id="titleLavori" class="subheader">Alcuni esempi del nostro lavoro</h2>
                <div class="row">
                    <div class="small-12 columns panel radius">
                            <h4><i class="fa fa-plane"></i> Mr and Ms Pinco Pallino - Tour in italia per 2 persone</h4>
                            <hr>
                            <div  class="row">
                                <div class="small-12 columns">
                                    <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                                        <li><img src="http://placehold.it/1200x500&text=[img 7]" title="Solede Group Tour" /></li>
                                        <li index="1"><img src="http://placehold.it/1200x500&text=[img 8]" title="Solede Group Tour" /></li>
                                        <li index="2"><img src="http://placehold.it/1200x500&text=[img 9]" title="Solede Group Tour" /></li>
                                    </ul>
                                </div>
                            </div>
                            <div  class="row">
                                <div class="medium-6 columns">
                                    <h4><i>About</i></h4>
                                    <hr>
                                    <p>
                                        <strong>Cliente:</strong> Agenzia di Viaggi Pinco Pallo<br />
                                        <strong>Tipologia Tour:</strong> Classical Italy<br>
                                        <strong>Durata del Tour:</strong> 2 Settimane<br>
                                        <strong>Partecipanti:</strong> 2 Persone - Marito e moglie<br>
                                    </p>
                                    <h4><i>Il nostro lavoro</i></h4>
                                    <hr>
                                    <ol>
                                        <li>Acquisizione delle richieste del cliente</li>
                                        <li>Definizione dell'itinerario insieme al tour operator locale</li>
                                        <li>Prenotazione pickup Service dall'aereoporto</li>
                                        <li>Noleggio auto</li>
                                        <li>Prenotazione Hotel</li>
                                        <li>Visite guidate alle città di Milano</li>
                                    </ol>

                                </div>
                                <div class="medium-6 columns">
                                    <h4><i>Reviews</i></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="small-2 columns">
                                            <img class="th" src="http://placehold.it/200x200&text=[img]" title="Solede Group Tour" />
                                        </div>
                                        <div class="small-10 columns">
                                        <strong>Pinco P.</strong><br>
                                        <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <blockquote class="cite">
                                                <p>Fun, delicious and informative tour. Nice way to taste local foods and see beautiful spots in downtown Milan and Brera area.
                                                Thanks for a great afternoon!</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                    <%= partial "callToAction" %>
                <div class="row">
                    <div class="small-12 columns panel radius">
                        <h4><i class="fa fa-plane"></i> University of Pinco Pallo - Tour per 30 studenti univeritari</h4>
                        <hr>
                        <div  class="row">
                            <div class="small-12 columns">
                                <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                                    <li><img src="http://placehold.it/1200x500&text=[img 1]" title="Solede Group Tour" /></li>
                                    <li index="1"><img src="http://placehold.it/1200x500&text=[img 2]" title="Solede Group Tour" /></li>
                                    <li index="2"><img src="http://placehold.it/1200x500&text=[img 3]" title="Solede Group Tour" /></li>
                                </ul>
                            </div>
                        </div>
                        <div  class="row">
                            <div class="medium-6 columns">
                                <h4><i>About</i></h4>
                                <hr>
                                <p>
                                    <strong>Cliente:</strong> Aramfo<br />
                                    <strong>Tipologia Tour:</strong> Tuour Didattico per Sudenti<br>
                                    <strong>Durata del Tour:</strong> 2 Settimane<br>
                                    <strong>Partecipanti:</strong> 30 Sudenti + 4 Accompagnatori<br>
                                </p>
                                <h4><i>Il nostro lavoro</i></h4>
                                <hr>
                                <p>
                                <ol>
                                    <li>Acquisizione delle richieste del cliente</li>
                                    <li>Definizione dell'itinerario insieme al tour operator locale</li>
                                    <li>Prenotazione pickup Service dall'aereoporto</li>
                                    <li>Gestione mobilità con Pullman</li>
                                    <li>Accompagnatore al seguito</li>
                                    <li>Prenotazione Hotel</li>
                                    <li>Visite guidate alle città di Milano</li>
                                    <li>Tour guidati presso realtà industriali Italiani</li>
                                    <li>Assiucrazioni per studenti e accompagnatori</li>
                                </ol>
                                </p>

                            </div>
                            <div class="medium-6 columns">
                                <h4><i>Reviews</i></h4>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://placehold.it/200x200&text=[img]" title="Solede Group Tour" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Pinco P.</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>Fun, delicious and informative tour. Nice way to taste local foods and see beautiful spots in downtown Milan and Brera area.
                                            Thanks for a great afternoon!</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://placehold.it/200x200&text=[img]" title="Solede Group Tour" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Pinco P.</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>Fun, delicious and informative tour. Nice way to taste local foods and see beautiful spots in downtown Milan and Brera area.
                                            Thanks for a great afternoon!</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://placehold.it/200x200&text=[img]" title="Solede Group Tour" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Pinco P.</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>Fun, delicious and informative tour. Nice way to taste local foods and see beautiful spots in downtown Milan and Brera area.
                                            Thanks for a great afternoon!</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%= partial "callToAction" %>

                <div class="row">
                    <div class="small-12 columns panel radius">
                        <h4><i class="fa fa-plane"></i> Famiglia Pinco Pallo - Tour per una famiglia di 5 persone</h4>
                        <hr>
                        <div  class="row">
                            <div class="small-12 columns">
                                <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                                    <li><img src="http://placehold.it/1200x500&text=[img 4]" title="Solede Group Tour" /></li>
                                    <li index="1"><img src="http://placehold.it/1200x500&text=[img 5]" title="Solede Group Tour" /></li>
                                    <li index="2"><img src="http://placehold.it/1200x500&text=[img 6]" title="Solede Group Tour" /></li>
                                </ul>
                            </div>
                        </div>
                        <div  class="row">
                            <div class="medium-6 columns">
                                <h4><i>About</i></h4>
                                <hr>
                                <p>
                                    <strong>Cliente:</strong> Famiglia Pinco Pallo<br />
                                    <strong>Tipologia Tour:</strong> Tour culturale a milano<br>
                                    <strong>Durata del Tour:</strong> 1 Giornata<br>
                                    <strong>Partecipanti:</strong> 3 Ragazzi + 2 Adulti<br>
                                </p>
                                <h4>Il nostro lavoro</h4>
                                <p>
                                    <ol>
                                        <li>Acquisizione delle richieste del cliente</li>
                                        <li>Definizione dell'itinerario insieme al tour operator locale</li>
                                        <li>Prenotazione pickup Service dall'aereoporto</li>
                                        <li>Gestione mobilità con Mezzi pubblici</li>
                                        <li>Guida al seguito per tutta la giornata</li>
                                        <li>Prenotazione Hotel</li>
                                        <li>Visite guidate alle città di Milano</li>
                                    </ol>
                                </p>

                            </div>
                            <div class="medium-6 columns">
                                <h4><i>Reviews</i></h4>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://placehold.it/200x200&text=[img]" title="Solede Group Tour" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Pinco P.</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>Fun, delicious and informative tour. Nice way to taste local foods and see beautiful spots in downtown Milan and Brera area.
                                            Thanks for a great afternoon!</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://placehold.it/200x200&text=[img]" title="Solede Group Tour" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Pinco P.</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>Fun, delicious and informative tour. Nice way to taste local foods and see beautiful spots in downtown Milan and Brera area.
                                            Thanks for a great afternoon!</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%= partial "callToAction" %>
        </div>
</div>