---
title: >
    Group Tour

description: >

testata: >
    <h1>Tours to Italy<br><span>Plan your custom holiday to Italy</span></h1>

---

<div class="row slide">
    <div class="row">
        <div class="large-12 medium-12 columns">
            <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                <li>
                    <img src="http://prismic-io.s3.amazonaws.com/solede/cfa2e7e138a8e6f8c2f6de33abdc7eda4746023b_copertina-al-posto-di-firenze.jpg" title="Solede Tours - Italy Milan in the most Special Way" />
                    <div class="row over">
                        <div class="large-12 hide-for-small">
                            <%= data.page.testata %>
                            <%= partial "callToAction" %>
                        </div>
                    </div>
                </li>

                <li>
                    <img src="http://prismic-io.s3.amazonaws.com/solede/be1e05b6647318e03c1c2c0ec948b0f7b2079474_como.jpg" title="Solede Tours - Enjoy Italy in the most Special Way" />
                    <div class="row over">
                        <div class="large-12 hide-for-small">
                            <%= data.page.testata %>
                            <%= partial "callToAction" %>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://prismic-io.s3.amazonaws.com/solede/fe060de39c2fe6f6103a3bf184fbbbd51eb25ca8_copertina-3.jpg" title="Solede Tours - Enjoy Italy in the most Special Way" />
                    <div class="row over">
                        <div class="large-12 hide-for-small">
                            <%= data.page.testata %>
                            <%= partial "callToAction" %>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://prismic-io.s3.amazonaws.com/solede/9de2bc1b7013e41e5ebbacb2b72278268985104e_copertina-4.jpg" title="Solede Tours - Enjoy Italy in the most Special Way" />
                    <div class="row over">
                        <div class="large-12 hide-for-small">
                            <h1 >Custom private tours throughout ITALY</h1>
                            <%= partial "callToAction" %>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<p></p>
<div class="row">
    <div class="large-12 medium-12 columns">
        <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
            <li class="big">
                <div class="row">
                    <h2 class="subheader"><i class="fa fa-users"></i> Customised Tours!</h2>
                    <hr/>
                    <div class="small-12 large-6 medium-6 columns">
                        <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                            <li><img src="http://prismic-io.s3.amazonaws.com/solede/5ee9bdacfc3fbd366efe01c172604f3338aeee57_customised-tours.jpg" title="Solede Group Tour" /></li>
                            <li><img src="http://prismic-io.s3.amazonaws.com/solede/5808b3c948451e859801153925630879e0f56140_customised-tours-2.jpg" title="Solede Group Tour" /></li>
                            <li><img src="http://prismic-io.s3.amazonaws.com/solede/15a3465be90ad5ca72718e566dc7c46395728029_customised-tour-3-.jpg" title="Solede Group Tour" /></li>
                        </ul>
                    </div>
                    <div class="small-12 large-6 medium-6 columns">
                    <p>Our tours meet everyone’s needs.</p>
                            <ul class="big">
                                <li>Groups</li>
                                <li>Families</li>
                                <li>Couples</li>
                                <li>Schools and Universities</li>
                                <li>Students</li>
                                <li>Individual tourists</li>
                            </ul>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="row">
                    <h2 class="subheader"><i class="fa fa-magic"></i> Tours to suit all tastes!</h2>
                    <hr/>
                    <div class="large-6 medium-6 columns show-for-medium-up">
                        <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                            <li><img src="http://prismic-io.s3.amazonaws.com/solede/b586ed69b7d01cdccaa4ff42ce9a170909b96b52_tours-to-suit-all-tastes.png" title="Solede Group Tour" /></li>
                            <li><img src="http://prismic-io.s3.amazonaws.com/solede/e01541b9b9c9f413621a4ae7fb8a16fb1914008d_tours-to-suit-all-tastes-2.jpg" title="Solede Group Tour" /></li>
                            <li><img src="http://prismic-io.s3.amazonaws.com/solede/b7bcd1891565ed58a0dc5427ec84a0310ac9cacf_tours-to-suit-all-tastes-3.jpg" title="Solede Group Tour" /></li>
                        </ul>
                    </div>
                    <div class="small-12 large-6 medium-6 columns">
                    <p>We help you realise your dream holiday.</p>
                            <ul class="big">
                                <li>Cultural & Heritage Travel</li>
                                <li>Adventure Travel</li>
                                <li>Educational Travel</li>
                                <li>Luxury Travel</li>
                                <li>Culinary, Food & Wine Tour</li>
                                <li>City Break</li>
                            </ul>
                    </div>
                </div>
            </li>


        </ul>

        <div class="row">
            <h2 class="subheader">SOLEDE TOURS - At our client’s disposal!</h2>
            <hr/>
            <div id="formContatti" class="wufooNew large-6 medium-6 columns">
                <p class="header">
                    <span class="big">Fill out this form and get in touch with us</span><br />
                    <span class="medium">We will respond you within 12 hours</span>
                </p>

                <%= partial "wufooForm" %>

            </div>
            <div class="small-12 large-6 medium-6 columns">
                        <ul class="big">
                            <p><i class="fa fa-cubes"></i> Tailor­made itineraries</p>
                            <p><i class="fa fa-headphones"></i> Flexibility and listening skills</p>
                            <p><i class="fa fa-user"></i> Fast and prompt replies</p>
                            <p><i class="fa fa-money"></i> Best price guaranteed</p>
                            <p><i class="fa fa-lightbulb-o"></i> Many ideas to make your journey unforgettable</p>
                        </ul>
                    <div class="panel">
                        <h5><i>Our services</i></h5>
                        <hr />
                        <ul>
                            <li>Airline Ticketing services</li>
                            <li>Rail Ticketing services</li>
                            <li>Bus Ticketing services</li>
                            <li>Cruise services</li>
                            <li>Hotel Booking services</li>
                            <li>Services for Car & Coach Rentals</li>
                        </ul>
                    </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <hr>
        <div class="large-12 medium-12 columns" >
            <h2 id="titleLavori" class="subheader">Examples of tours</h2>
                <div class="row">
                    <div class="small-12 columns panel radius">
                            <h4><i class="fa fa-plane"></i> Mr. and Mrs. Johnson ­ Tour of Italy for 2 people</h4>
                            <hr>
                            <div  class="row">
                                <div class="small-12 columns">
                                    <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                                        <li><img src="http://prismic-io.s3.amazonaws.com/solede/ce9ba80883dc5314927987819f16b5b83a09d3a5_mr.-johnson.jpg" title="Solede Group Tour" /></li>
                                        <li><img src="http://prismic-io.s3.amazonaws.com/solede/0c1d579f256c840a32d925fcc844ba79201a9e04_mr.-johnson-2.jpg" title="Solede Group Tour" /></li>
                                        <li><img src="http://prismic-io.s3.amazonaws.com/solede/b75d2fa1017e704b09b953b945c5b0135dad230c_johnson.jpg" title="Solede Group Tour"></li>
                                    </ul>
                                </div>
                            </div>
                            <div  class="row">
                                <div class="medium-6 columns">
                                    <h4><i>About</i></h4>
                                    <hr>
                                    <p>
                                        <strong>Client:</strong> Travel Agency<br />
                                        <strong>Tour Type:</strong> Classic Italy<br>
                                        <strong>Tour duration:</strong> 2 weeks<br>
                                        <strong>Participants:</strong> 2 people: Husband and Wife<br>
                                    </p>
                                    <h4><i>Our work</i></h4>
                                    <hr>
                                    <ol>
                                        <li>Understanding of client requests</li>
                                        <li>Itinerary planning with local tour agency</li>
                                        <li>Pick up service from airport</li>
                                        <li>Car rental</li>
                                        <li>Hotel booking</li>
                                        <li>Guided visits in Milan, Venice, Florence, Pisa and Rome</li>
                                    </ol>

                                </div>
                                <div class="medium-6 columns">
                                    <h4><i>Reviews</i></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="small-2 columns">
                                            <img class="th" src="http://prismic-io.s3.amazonaws.com/solede/15d4171dcae3f09c2909ee3bb22f6b770b03501b_mrs.-johnson.jpg" />
                                        </div>
                                        <div class="small-10 columns">
                                        <strong>Mrs. Johnson</strong><br>
                                        <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <blockquote class="cite">
                                                <p>For our journey to Italy my wife and I didn’t want to miss out big cities, but we also
                                                 wanted to see real Italy.</p>
                                                <p>We fell in love with Rome, Venice and Florence, and planned
                                                visits to the smaller Como, Chamonix and Pisa too.</p>
                                                <p>We were suggested to travel by car
                                                and train and this actually was the best solution: everything was already booked, from
                                                hotels to rail tickets, and we only have to enjoy our holiday!</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <%= partial "callToAction" %>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns panel radius">
                        <h4><i class="fa fa-plane"></i> California University ­- Tour for 30 University Students</h4>
                        <hr>
                        <div  class="row">
                            <div class="small-12 columns">
                                <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                                    <li><img src="http://prismic-io.s3.amazonaws.com/solede/76c2c1297179e5c7942d7ac7a20464942d58de54_aramfo.jpg" title="Solede Group Tour" /></li>
                                    <li><img src="http://prismic-io.s3.amazonaws.com/solede/e7346593675f373ce80ca3b5ddbbd9e7960b8046_aramfo.jpg" title="Solede Group Tour"></li>
                                    <li><img src="http://prismic-io.s3.amazonaws.com/solede/b81a32ededc33e41ca345bc770bf99572a91a14e_aramfo-2.jpg" title="Solede"></li>
                                </ul>
                            </div>
                        </div>
                        <div  class="row">
                            <div class="medium-6 columns">
                                <h4><i>About</i></h4>
                                <hr>
                                <p>
                                    <strong>Client:</strong> Aramfo Educational Foundation<br />
                                    <strong>Tour Type:</strong> Educational tour<br>
                                    <strong>Tour duration:</strong> 2 weeks<br>
                                    <strong>Participants:</strong> 30 students + 4 professors<br>
                                </p>
                                <h4><i>Our work</i></h4>
                                <hr>
                                <p>
                                <ol>
                                    <li>Understanding of client requests</li>
                                    <li>Itinerary planning with Educational Foundation and University</li>
                                    <li>Couch rental</li>
                                    <li>Hotel booking</li>
                                    <li>Tour leader at disposal for the entire trip</li>
                                    <li>Guided visits to local companies</li>
                                    <li>Guided tours in cities included in the itinerary</li>
                                    <li>Travel Insurance</li>
                                </ol>
                                </p>

                            </div>
                            <div class="medium-6 columns">
                                <h4><i>Reviews</i></h4>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://prismic-io.s3.amazonaws.com/solede/e704821516a6aa7c046769a81a503c0fd044eee4_alicia--aramfo-1.png" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Alicia P.</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>This tour allowed me to get a taste of Northern Italy and some of the important historical
                                            places, current culture and businesses. Isabella was a great tour leader and she went out
                                            of her way to add extra activities by helping plan our free time</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://prismic-io.s3.amazonaws.com/solede/ee63388d41276a99bc7908420dfaa9f9cbea4c2d_mark-aramfo.jpg" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Mark F.</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>My experience in Italy was amazing! I was introduced to the world of travelling and
                                            experiencing a different culture. I am returning my country with a good memory of Italy,
                                            my stomach is going to miss Italy cheese and cuisine!</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <%= partial "callToAction" %>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns panel radius">
                        <h4><i class="fa fa-plane"></i> Miller Family ­- Tour for a family of 5</h4>
                        <hr>
                        <div  class="row">
                            <div class="small-12 columns">
                                <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                                    <li><img src="http://prismic-io.s3.amazonaws.com/solede/29539e4c8ae4158760a5fd098ba33c0ea89b59ac_miller-family.jpg" title="Solede Group Tour" /></li>
                                    <li><img src="http://prismic-io.s3.amazonaws.com/solede/57d9dce96196812c87219d4616b89e910c832166_family.jpeg" title="Solede"></li>
                                    <li><img src="http://prismic-io.s3.amazonaws.com/solede/671b17fe59443f83e209a1b7debdc13d25052409_family-2.jpg"></li>
                                </ul>
                            </div>
                        </div>
                        <div  class="row">
                            <div class="medium-6 columns">
                                <h4><i>About</i></h4>
                                <hr>
                                <p>
                                    <strong>Client:</strong> Miller Family<br />
                                    <strong>Tour Type:</strong> Cultural tour of Milan<br>
                                    <strong>Tour duration:</strong> 1 day<br>
                                    <strong>Participants:</strong> 2 adults + 3 children<br>
                                </p>
                                <h4>Our work</h4>
                                <p>
                                    <ol>
                                        <li>Understanding of client requests</li>
                                        <li>Hotel pick­up by taxi</li>
                                        <li>Private guide for the entire day</li>
                                        <li>Visit the city top attractions</li>
                                        <li>Tickets to visit the Last Supper, the Cathedral Terrace and Cathedral interior</li>
                                        <li>Restaurant booking</li>
                                    </ol>
                                </p>

                            </div>
                            <div class="medium-6 columns">
                                <h4><i>Reviews</i></h4>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://prismic-io.s3.amazonaws.com/solede/95aa510e2f85fa3d0dbf38d04938c48b3b853ccc_family-miller.jpg" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Mr. Miller</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>Excellent tour, very informative. Our tour guide was exceptional and passionate about
                                            this amazing city. I highly recommend this tour as well as the company, Solede, if you’re
                                            looking for an awesome tour experience. Thank you for an amazing day!”</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <%= partial "callToAction" %>
                    </div>
                </div>

        </div>
</div>