---
title: >
    Group Tour

description: >
---

<div class="row slide">
    <div class="large-12 medium-12 columns">

            <div class="row">
                <div class="large-12 hide-for-small">
                    <div id="featured">
                        <img src="http://placehold.it/1200x500&text=[img]" title="Solede Group Tour" />
                    </div>
                </div>
            </div>
            <div class="row over">
                <div class="large-12 hide-for-small">
                    <h1 >Custom private tours throughout ITALY</h1>
                    <%= partial "callToAction" %>
                </div>
            </div>

    </div>
</div>

<div class="row">
    <div class="large-12 medium-12 columns">
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
            <li class="">
                <div class="row">
                    <h2 class="subheader"><i class="fa fa-users"></i> Customised Tours!</h2>
                    <hr/>
                    <div class="small-12 small-6 large-6 medium-6 columns">
                    <p>Our tours meet everyone’s needs.</p>
                            <ul>
                                <li>Grups</li>
                                <li>Families</li>
                                <li>Couples</li>
                                <li>Schools and Universities</li>
                                <li>Students</li>
                                <li>Individual tourists</li>
                            </ul>
                    </div>
                    <div class="small-12 large-6 medium-6 columns">
                        <img src="http://placehold.it/600x500&text=[img]" title="Solede Group Tour" />
                    </div>
                </div>
            </li>
            <li class="">
                <div class="row">
                    <h2 class="subheader"><i class="fa fa-magic"></i> Tours to suit all tastes!</h2>
                    <hr/>
                    <div class="small-12 large-6 medium-6 columns">
                    <p>We help you realise your dream holiday.</p>
                            <ul>
                                <li>Cultural & Heritage Travel</li>
                                <li>Adventure Travel</li>
                                <li>Educational Travel</li>
                                <li>Luxury Travel</li>
                                <li>Culinary, Food & Wine Tour</li>
                                <li>City Break</li>
                            </ul>
                    </div>
                    <div class="large-6 medium-6 columns show-for-medium-up">
                        <img src="http://placehold.it/600x500&text=[img]" title="Solede Group Tour" />
                    </div>
                </div>
            </li>


        </ul>

        <div class="row">
            <h2 class="subheader">SOLEDE TOURS - At our client’s disposal!</h2>
            <hr/>
            <div id="formContatti" class="wufooNew large-6 medium-6 columns">
                <p class="header">
                    <span class="big">Fill out this form and get in touch with us</span><br />
                    <span class="medium">We will respond you within 12 hours</span>
                </p>

                <%= partial "wufooForm" %>

            </div>
            <div class="small-12 large-6 medium-6 columns">
                        <ul class="big">
                            <p><i class="fa fa-cubes"></i> Tailor­made itineraries</p>
                            <p><i class="fa fa-headphones"></i> Flexibility and listening skills</p>
                            <p><i class="fa fa-user"></i> Fast and prompt replies</p>
                            <p><i class="fa fa-money"></i> Best price guaranteed</p>
                            <p><i class="fa fa-lightbulb-o"></i> Many ideas to make your journey unforgettable</p>
                        </ul>
                    <div class="panel">
                        <h5><i>Our services</i></h5>
                        <hr />
                        <ul>
                            <li>Airline Ticketing services</li>
                            <li>Rail Ticketing services</li>
                            <li>Bus Ticketing services</li>
                            <li>Cruise services</li>
                            <li>Hotel Booking services</li>
                            <li>Services for Car & Coach Rentals</li>
                        </ul>
                    </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <hr>
        <div class="large-12 medium-12 columns" >
            <h2 id="titleLavori" class="subheader">Examples of tours</h2>
                <div class="row">
                    <div class="small-12 columns panel radius">
                            <h4><i class="fa fa-plane"></i> Mr. and Mrs. Johnson ­ Tour of Italy for 2 people</h4>
                            <hr>
                            <div  class="row">
                                <div class="small-12 columns">
                                    <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                                        <li><img src="http://placehold.it/1200x500&text=[img 7]" title="Solede Group Tour" /></li>
                                        <li index="1"><img src="http://placehold.it/1200x500&text=[img 8]" title="Solede Group Tour" /></li>
                                        <li index="2"><img src="http://placehold.it/1200x500&text=[img 9]" title="Solede Group Tour" /></li>
                                    </ul>
                                </div>
                            </div>
                            <div  class="row">
                                <div class="medium-6 columns">
                                    <h4><i>About</i></h4>
                                    <hr>
                                    <p>
                                        <strong>Client:</strong> Travel Agency<br />
                                        <strong>Tour Type:</strong> Classic Italy<br>
                                        <strong>Tour duration:</strong> 2 weeks<br>
                                        <strong>Participants:</strong> 2 people: Husband and Wife<br>
                                    </p>
                                    <h4><i>Our work</i></h4>
                                    <hr>
                                    <ol>
                                        <li>Understanding of client requests</li>
                                        <li>Itinerary planning with local tour agency</li>
                                        <li>Pick up service from airport</li>
                                        <li>Car rental</li>
                                        <li>Hotel booking</li>
                                        <li>Guided visits in Milan, Venice, Florence, Pisa and Rome</li>
                                    </ol>

                                </div>
                                <div class="medium-6 columns">
                                    <h4><i>Reviews</i></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="small-2 columns">
                                            <img class="th" src="http://placehold.it/200x200&text=[img]" title="Solede Group Tour" />
                                        </div>
                                        <div class="small-10 columns">
                                        <strong>Mrs. Johnson</strong><br>
                                        <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <blockquote class="cite">
                                                <p>For our journey to Italy my wife and I didn’t want to miss out big cities, but we also
                                                 wanted to see real Italy.</p>
                                                <p>We fell in love with Rome, Venice and Florence, and planned
                                                visits to the smaller Como, Chamonix and Pisa too.</p>
                                                <p>We were suggested to travel by car
                                                and train and this actually was the best solution: everything was already booked, from
                                                hotels to rail tickets, and we only have to enjoy our holiday!</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                    <%= partial "callToAction" %>
                <div class="row">
                    <div class="small-12 columns panel radius">
                        <h4><i class="fa fa-plane"></i> California University ­- Tour for 30 University Students</h4>
                        <hr>
                        <div  class="row">
                            <div class="small-12 columns">
                                <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                                    <li><img src="http://placehold.it/1200x500&text=[img 1]" title="Solede Group Tour" /></li>
                                    <li index="1"><img src="http://placehold.it/1200x500&text=[img 2]" title="Solede Group Tour" /></li>
                                    <li index="2"><img src="http://placehold.it/1200x500&text=[img 3]" title="Solede Group Tour" /></li>
                                </ul>
                            </div>
                        </div>
                        <div  class="row">
                            <div class="medium-6 columns">
                                <h4><i>About</i></h4>
                                <hr>
                                <p>
                                    <strong>Client:</strong> Aramfo Educational Foundation<br />
                                    <strong>Tour Type:</strong> Educational tour<br>
                                    <strong>Tour duration:</strong> 2 weeks<br>
                                    <strong>Participants:</strong> 30 students + 4 professors<br>
                                </p>
                                <h4><i>Our work</i></h4>
                                <hr>
                                <p>
                                <ol>
                                    <li>Understanding of client requests</li>
                                    <li>Itinerary planning with Educational Foundation and University</li>
                                    <li>Couch rental</li>
                                    <li>Hotel booking</li>
                                    <li>Tour leader at disposal for the entire trip</li>
                                    <li>Guided visits to local companies</li>
                                    <li>Guided tours in cities included in the itinerary</li>
                                    <li>Travel Insurance</li>
                                </ol>
                                </p>

                            </div>
                            <div class="medium-6 columns">
                                <h4><i>Reviews</i></h4>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://placehold.it/200x200&text=[img]" title="Solede Group Tour" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Alicia P.</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>This tour allowed me to get a taste of Northern Italy and some of the important historical
                                            places, current culture and businesses. Isabella was a great tour leader and she went out
                                            of her way to add extra activities by helping plan our free time</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://placehold.it/200x200&text=[img]" title="Solede Group Tour" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Mark F.</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>My experience in Italy was amazing! I was introduced to the world of travelling and
                                            experiencing a different culture. I am returning my country with a good memory of Italy,
                                            my stomach is going to miss Italy cheese and cuisine!</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%= partial "callToAction" %>

                <div class="row">
                    <div class="small-12 columns panel radius">
                        <h4><i class="fa fa-plane"></i> Miller Family ­- Tour for a family of 5</h4>
                        <hr>
                        <div  class="row">
                            <div class="small-12 columns">
                                <ul class="example-orbit" data-orbit data-options="timer:false;bullets:false;slide_number:false;">
                                    <li><img src="http://placehold.it/1200x500&text=[img 4]" title="Solede Group Tour" /></li>
                                    <li index="1"><img src="http://placehold.it/1200x500&text=[img 5]" title="Solede Group Tour" /></li>
                                    <li index="2"><img src="http://placehold.it/1200x500&text=[img 6]" title="Solede Group Tour" /></li>
                                </ul>
                            </div>
                        </div>
                        <div  class="row">
                            <div class="medium-6 columns">
                                <h4><i>About</i></h4>
                                <hr>
                                <p>
                                    <strong>Client:</strong> Miller Family<br />
                                    <strong>Tour Type:</strong> Cultural tour of Milan<br>
                                    <strong>Tour duration:</strong> 1 day<br>
                                    <strong>Participants:</strong> 2 adults + 3 children<br>
                                </p>
                                <h4>Our work</h4>
                                <p>
                                    <ol>
                                        <li>Understanding of client requests</li>
                                        <li>Hotel pick­up by taxi</li>
                                        <li>Private guide for the entire day</li>
                                        <li>Visit the city top attractions</li>
                                        <li>Tickets to visit the Last Supper, the Cathedral Terrace and Cathedral interior</li>
                                        <li>Restaurant booking</li>
                                    </ol>
                                </p>

                            </div>
                            <div class="medium-6 columns">
                                <h4><i>Reviews</i></h4>
                                <hr>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img class="th" src="http://placehold.it/200x200&text=[img]" title="Solede Group Tour" />
                                    </div>
                                    <div class="small-10 columns">
                                    <strong>Mr. Miller</strong><br>
                                    <div class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <blockquote class="cite">
                                            <p>Excellent tour, very informative. Our tour guide was exceptional and passionate about
                                            this amazing city. I highly recommend this tour as well as the company, Solede, if you’re
                                            looking for an awesome tour experience. Thank you for an amazing day!”</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%= partial "callToAction" %>
        </div>
</div>